.container,
.footerEncontrarpieza {
    align-items: center;
  justify-content: center;
  gap: var(--gap-32);
  max-width: 100%;
}
.footerEncontrarpieza {
    align-items: center;
  justify-content: center;
  width: 100vw;
  min-width: 100vw;
  max-width: none;
  position: relative;
  left: 50%;
  margin-left: -50vw;
  height: 325px;
  background-color: var(--color-gray-100);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-48) 152px var(--padding-0);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--fs-16);
  color: var(--color-white);
  font-family: var(--font-inter);
}
.container {
    align-items: center;
  justify-content: center;
  align-self: stretch;
  height: var(--height-144);
}
.container,
.container2,
.heading3 {
    align-items: center;
  justify-content: center;
  display: flex;
  align-items: flex-start;
}
.container2 {
    align-items: center;
  justify-content: center;
  height: var(--height-144);
  width: var(--width-284);
  flex-direction: column;
  gap: var(--gap-16);
  font-size: var(--fs-18);
}
.heading3 {
    align-items: center;
  justify-content: center;
  align-self: stretch;
  height: var(--height-27);
  padding: var(--padding-0) var(--padding-0) var(--padding-1);
  box-sizing: border-box;
}
.metalMecnicaEl {
    align-items: center;
  justify-content: center;
  margin-top: -1px;
  height: var(--height-27);
  width: 230px;
  position: relative;
  line-height: var(--lh-27);
  display: inline-block;
}
.paragraph {
    align-items: center;
  justify-content: center;
  align-self: stretch;
  height: var(--height-40);
  display: flex;
  align-items: flex-start;
  padding: var(--padding-0) var(--padding-0) var(--padding-1);
  box-sizing: border-box;
  font-size: var(--fs-14);
  color: var(--color-lightslategray);
}
.proveedorLderDe {
    align-items: center;
  justify-content: center;
  margin-top: -1px;
  height: var(--height-40);
  width: var(--width-284);
  position: relative;
  line-height: var(--lh-20);
  display: inline-block;
  flex-shrink: 0;
}
.container3,
.containerParent {
    align-items: center;
  justify-content: center;
  display: flex;
  align-items: flex-start;
}
.containerParent {
    align-items: center;
  justify-content: center;
  gap: var(--gap-32);
  max-width: 100%;
}
.container3 {
    align-items: center;
  justify-content: center;
  width: var(--width-284);
  flex-direction: column;
  gap: var(--gap-16);
}
.heading4,
.productos {
    align-items: center;
  justify-content: center;
  height: var(--height-24);
}
.heading4 {
    align-items: center;
  justify-content: center;
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  padding: var(--padding-0) var(--padding-0) var(--padding-2);
  box-sizing: border-box;
}
.productos {
    align-items: center;
  justify-content: center;
  margin-top: -2px;
  width: var(--width-80);
  position: relative;
  line-height: var(--lh-24);
  font-weight: 600;
  display: inline-block;
  flex-shrink: 0;
}
.list,
.listItem {
    align-items: center;
  justify-content: center;
  align-self: stretch;
  display: flex;
  align-items: flex-start;
}
.list {
    align-items: center;
  justify-content: center;
  height: 104px;
  flex-direction: column;
  gap: var(--gap-8);
  font-size: var(--fs-14);
  color: var(--color-lightgray);
}
.listItem {
    align-items: center;
  justify-content: center;
  height: var(--height-20);
}
.bisagras {
    align-items: center;
  justify-content: center;
  flex: 1;
  position: relative;
  line-height: var(--lh-20);
}
.container4 {
    align-items: center;
  justify-content: center;
  height: var(--height-144);
  width: var(--width-284);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-16);
}
.empresa {
    align-items: center;
  justify-content: center;
  margin-top: -2px;
  height: var(--height-24);
  width: 68px;
  position: relative;
  line-height: var(--lh-24);
  font-weight: 600;
  display: inline-block;
  flex-shrink: 0;
}
.list2 {
    align-items: center;
  justify-content: center;
  align-self: stretch;
  height: 76px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-8);
  font-size: var(--fs-14);
  color: var(--color-lightgray);
}
.contacto {
    align-items: center;
  justify-content: center;
  margin-top: -2px;
  height: var(--height-24);
  width: var(--width-72);
  position: relative;
  line-height: var(--lh-24);
  font-weight: 600;
  display: inline-block;
  flex-shrink: 0;
}
.container6 {
    align-items: center;
  justify-content: center;
  align-self: stretch;
  height: 53px;
  border-top: 1px solid var(--color-darkslategray-200);
  box-sizing: border-box;
  display: flex;
  align-items: flex-start;
  padding: var(--padding-32) var(--padding-0) var(--padding-0);
  text-align: center;
  font-size: var(--fs-14);
  color: var(--color-lightslategray);
}
@media screen and (max-width: 1500px) {
  .container,
  .footerEncontrarpieza {
      align-items: center;
  justify-content: center;
    height: auto;
  }
  .container {
      align-items: center;
  justify-content: center;
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 825px) {
  .footerEncontrarpieza {
      align-items: center;
  justify-content: center;
    padding-left: var(--padding-76);
    padding-right: var(--padding-76);
    box-sizing: border-box;
  }
  .container,
  .containerParent {
      align-items: center;
  justify-content: center;
    gap: var(--gap-16);
  }
  .containerParent {
    flex-wrap: wrap;  align-items: center;
  justify-content: center;
  }
}
@media screen and (max-width: 450px) {
  .footerEncontrarpieza {
      align-items: center;
  justify-content: center;
    gap: var(--gap-16);
    padding-left: var(--padding-20);
    padding-right: var(--padding-20);
    box-sizing: border-box;
  }
}
